@charset 'UTF-8';

// Mixins
@import 'mixins/core';
@import 'mixins/clearfix';
@import 'mixins/breakpoints';
@import 'mixins/lazy';
@import 'mixins/buttons';

// Config
@import 'config/variables';
@import 'config/helpers';
@import 'config/spacing';
@import 'demo/demo-variables';

// Plugins CSS
@import 'plugins/swiper-carousel/theme.default';
@import 'plugins/swiper-carousel/core';
@import 'plugins/category-tree';
@import 'plugins/nouislider';
// Components
@import 'components/alerts';
@import 'components/animate';
@import 'components/banners';
@import 'components/breadcrumb';
@import 'components/buttons';
@import 'components/cards';
@import 'components/counters';
@import 'components/feature-boxes';
@import 'components/flags';
@import 'components/forms';
@import 'components/info-boxes';
@import 'components/modals';
@import 'components/page-header';
@import 'components/pagination';
@import 'components/popup';
@import 'components/product';
@import 'components/product-category';
@import 'components/testimonials';
@import 'components/skeleton';
@import 'components/social-icons';
@import 'components/tabs';
@import 'components/tooltips';
@import 'components/vue-components';

// Base
@import 'base/base';
@import 'base/type';
@import 'base/layout';
@import 'base/plugins';
@import 'base/header/sticky-header';
@import 'base/header';
@import 'base/header/dropdowns';
@import 'base/header/search';
@import 'base/header/menu';
@import 'base/header/mobile-menu';
@import 'base/footer';
@import 'demo/demo-base';

// Pages CSS
@import 'pages/about';
@import 'pages/category';
@import 'pages/product-pages/proudct-page-info';
@import 'pages/product-pages/product-page';
@import 'pages/product-pages/product-page-transparent'; 
@import 'pages/product-pages/product-page-full-width';
@import 'pages/product-pages/product-page-sticky-both';
@import 'pages/product-pages/product-page-extended';
@import 'pages/product-pages/product-page-sidebar';
@import 'pages/product-pages/product-page-grid';
@import 'pages/product-pages/product-page-center';
@import 'pages/cart';
@import 'pages/checkout';
@import 'pages/blog';
@import 'pages/contact';
@import 'pages/dashboard';
@import 'pages/account';
@import 'pages/address';
@import 'pages/order';
@import 'pages/wishlist';
@import 'pages/login';

@import 'demo/demo-home';